.header {
  background-image: url('../images/hero-bg.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  padding: 66px 0;
  position: relative;

  &__cta {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 7px 10px;
    background-color: $purple-light;
    font-size: 10px;
    color: $white;
    display: flex;
    align-items: center;

    &:hover {
      opacity: .75;
      color: $white;
    }
  }

  &__cta-icon {
    margin-left: 5px;
  }

  &__h1 {
    font-size: 32px;
    line-height: 1.2;
    color: $purple-dark;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: 500;
  }

  &__h2 {
    font-size: 18px;
    line-height: 1.2;
    color: $purple-dark;
    margin: 0;
    font-weight: 300;
  }
}
